.user-items {
    position: relative;
    width: auto;
    height: auto;
    margin: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 1px;
    padding: 0.5rem;
    overflow: hidden;
    background: white;  
  }
  .user-items__image {
    width: auto;
    height: auto;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    background-color: white;  
  }
  .Avatar{
    width: 2rem;
    height: 2rem;
  }
  .user-items__image h2{
    font-size: 1rem;
    margin-left: 10px;    
  }
  .user-items__info h2 {
    font-size: 1rem;
  margin-left: 1rem;
    font-weight: normal;
    color: #1a1918;
  }
  
  input[type=text], select {
    width: 65%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .add_comments{
      display: flex;
      flex-direction: row;
      justify-content:space-between;
  }