 @import "~react-image-gallery/styles/css/image-gallery.css";

.place-item {
  margin: 1rem 0;
  list-style: none;
 
}
.place-item__info {
  text-align: center;
}
.place-item-image{
  height: 15rem;
}

@media (min-width: 768px) {
  .place-item__image {
    height: 5rem;
  }
} 
